## Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

## List popular languages for Data Science
## Explore open-source tools used in Data Science development environments
## Understand the basics of Jupyter Notebooks
## Introduce Apache Spark for large-scale data processing
## Discuss the capabilities of TensorFlow for machine learning

## Some of the popular languages that Data Scientists use are:
## 1-python
## 2-R
## 3-Java

## Some of the commonly used libraries used by Data Scientists include:
## 1-pandas
## 2-seaborn
## 3-ggplot

## | Data Science Tools |
## | ----------------- |
## | Jupyter Notebooks |
## | Apache Spark      |
## | TensorFlow        |

## Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

## Author 
## AG